* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-color-verde {
  background-color: #167b16;
}

.bg-color-azul {
  background-color: #353595;
}

.bg-color-marron {
  background-color: #6e2222;
}

.bg-color-amarillo {
  background-color: #abab11;
}

@-webkit-keyframes fondo-animado {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes fondo-animado {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0 100%;
  }
}
#login__body {
  background-color: #d3d3d3;
}
#login__body section .login-box-btn .login--btn {
  background-color: #0055dd;
  box-shadow: #096639 4px 4px 0px;
}
#login__body section .login-box-btn .login--btn:hover {
  border: 1px solid #0055dd;
}
#login__body section .login-box-btn .login--btn:active {
  transform: translate(4px) translate(4px);
  box-shadow: #096639 0px 0px 0px;
  background-color: #07b251;
}

#registro__body {
  font-family: sans-serif;
  background: linear-gradient(#8f663a, #98b6c3);
}
#registro__body .registro__main {
  max-width: 1200px;
  margin: auto auto;
}
#registro__body .registro__main .registro-input-fnac,
#registro__body .registro__main .registro-input-codPost {
  min-width: 160px;
  max-width: 170px;
}
#registro__body .registro__main .registro-input-nombre,
#registro__body .registro__main .registro-input-apellido {
  max-width: 60vw;
}
#registro__body .registro__main .registro-input-tel,
#registro__body .registro__main .registro-input-email,
#registro__body .registro__main .registro-input-clave,
#registro__body .registro__main .registro-input-dire,
#registro__body .registro__main .registro-input-loc {
  max-width: 66vw;
}
#registro__body .registro__main form .registro--btn-save,
#registro__body .registro__main form .registro--btn-clear {
  background-color: #2a45af;
  box-shadow: #093c66 4px 4px 0px;
}
#registro__body .registro__main form .registro--btn-save:active,
#registro__body .registro__main form .registro--btn-clear:active {
  transform: translate(4px) translate(4px);
  box-shadow: #093c66 0px 0px 0px;
}
#registro__body .registro__main form .registro--btn-save:hover {
  background-color: #00dd5f;
}
#registro__body .registro__main form .registro--btn-clear:hover {
  background-color: #bb5418;
}

.button, #contacto__container input[name=btn-submit],
#contacto__container input[name=btn-reset], #login__body section .login-box-btn .login--btn, #registro__body .registro__main form .registro--btn-save,
#registro__body .registro__main form .registro--btn-clear {
  width: 12.5rem;
  border: 1px solid #204521;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  padding: 0px 8px;
  font-size: 16px;
  line-height: 46px;
  font-family: sans-serif;
  color: white;
  font-weight: 600;
  transition: all 200ms;
}

#contacto__container {
  background: linear-gradient(#dfdfde, #98b6c3);
}
#contacto__container input[name=btn-submit],
#contacto__container input[name=btn-reset] {
  background-color: #1197cc;
  box-shadow: #094c66 4px 4px 0px;
}
#contacto__container input[name=btn-submit]:active,
#contacto__container input[name=btn-reset]:active {
  transform: translate(4px) translate(4px);
  box-shadow: #094c66 0px 0px 0px;
}
#contacto__container input[name=btn-submit]:hover {
  background-color: #3fa134;
}
#contacto__container input[name=btn-reset]:hover {
  background-color: #111ac7;
}
#contacto__container .form-box {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: 50vw;
}

#equipo__body {
  background: linear-gradient(#9a8b7c, #63aac8);
}

a {
  text-decoration: none;
}

.navbar .navbar-style {
  border: none;
}
.navbar .box-btn {
  top: 4px;
  height: 50px;
  right: 23px;
  background-color: #198754;
  border: hidden;
}
.navbar .box-btn .btn-nav::after {
  position: absolute;
  content: " ";
  width: 50px;
  height: 5px;
  top: 5px;
  border-radius: 5px;
  background-color: #00dd5f;
  transition: all 0.5s;
}
.navbar .box-btn .btn-nav::before {
  position: absolute;
  content: " ";
  width: 50px;
  height: 5px;
  top: 25px;
  border-radius: 5px;
  background-color: #00dd5f;
  transition: all 0.5s;
}
.navbar .box-btn input {
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9;
}
.navbar .box-btn input:checked ~ .btn-nav::after {
  transform: rotate(45deg);
  transform-origin: 11px 5px;
  -webkit-animation: effecto 0.5s linear;
          animation: effecto 0.5s linear;
  background-color: #02f3b7;
}
.navbar .box-btn input:checked ~ .btn-nav::before {
  transform: rotate(-45deg);
  transform-origin: 13px 0;
  animation: effecto 0.5s linear alternate-reverse;
  background-color: #02f3b7;
}

.index__bg {
  background: linear-gradient(45deg, #d3d3d3, #a49a5e, #dadada, #a56ca2);
  -webkit-animation: fondo-animado 10s ease infinite;
          animation: fondo-animado 10s ease infinite;
  background-size: 800%;
}
.index__bg .box-section {
  background: transparent;
}
.index__bg .box-section .img__equipo {
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
.index__bg .box-section .img__equipo:hover {
  transform: scale(1.2);
}

footer {
  background-color: #202020;
  color: #f5f3ee;
}
footer .card:hover {
  transform: translateX(4px);
}
footer .card {
  background: linear-gradient(90deg, rgb(199, 199, 209) 0%, rgb(235, 244, 176) 0%, rgb(120, 116, 2) 100%, rgb(0, 255, 46) 100%, rgb(124, 115, 7) 100%);
  cursor: pointer;
  transition: all 0.4s;
  min-width: 170px;
  max-width: 180px;
}

.registro-footer {
  height: 13.8rem;
}/*# sourceMappingURL=Style_ed.css.map */